<!--<img class="img-responsive" src="{{contest.0.contestImage}}" alt="{{contest.0.contestName}}" alt="">-->

<link rel="stylesheet" href="/stylesheets/hover.css">
<link rel="stylesheet" href="/stylesheets/banner.css">

<!--TopBanner-->
<div class="container text-center banner">
    <h1>Ending Soon</h1>
    <h2>{{contest.0.contestName}}</h2>
    <div id="clockdiv">
        <span class="days">days</span> days,
        <span class="hours">hours</span> hours,
        <span class="minutes">minutes</span> minutes,
        <span class="seconds">seconds</span> seconds
        <h3>Enter Now</h3>
    </div>
</div>


{{#each contest}}
    <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
        <div class="hovereffect">
            <img class="img-responsive" src="{{this.contestImage}}" alt="{{this.contestName}}" alt="">
            <div class="overlay">
                <h2>{{this.contestName}}</h2>
                <a class="info" href="{{this.contestLink}}">Enter Here</a>
            </div>
        </div>
    <!--</div>-->
{{/each}}








<script>
    //inject nearest contest deadline
    let deadline = '{{contest.0.contestEnd}}';
</script>
<script src="/javascripts/countdown.js"></script>


