

    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-push-7 phone-preview center-img img-responsive right"><img src="/images/edm-raves-logo.png"></div>
                <div class="col-md-6 col-md-pull-3 get-it left">
                    <h1 class="text-center">ENDING SOON</h1>
                    <h2 class="text-center">{{contest.0.contestName}}</h2>
                    <h3 class="text-center">
                        <div id="clockdiv">
                            <span class="days"></span> days
                            <span class="hours"></span> hours
                            <span class="minutes"></span> minutes
                            <span class="seconds"></span> seconds
                        </div>
                    </h3>


                    <!--<h3 class="text-center">END DATE</h3>-->
                    <p class="text-center"><a class="btn btn-primary btn-lg" role="button" href="{{contest.0.contestLink}}" target="_blank"> ENTER NOW</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="contests">
        <h2 class="text-center">Current Contests</h2>
    <p class="text-center">Clicking on a contest will direct you to the entry page</p>
    <hr>
    <br>
    </section>
    <article>
        <div class="container-fluid">
            {{#each contest}}
                <div class="col-md-4 col-sm-12 center"><a href="{{this.contestLink}}" target="_blank"><img class="contest-images" src="/images/uploads/contests/{{this.contestImage}}" alt="" height="300px"></a></div>
            {{/each}}

        </div>

    </article>

    <script>
        //inject nearest contest deadline
        let deadline = {{contest.0.contestEnd}};
    </script>
    <script src="/javascripts/countdown.js"></script>